In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scripts.find_trades import *
import statistics

In [2]:
df = pd.read_csv('look.csv', delimiter=';')
df.fillna(0, inplace=True)

In [3]:
def find_average(row):
    try:
        return sum([row['bid_price_1'] * row['bid_volume_1'], row['bid_price_2'] * row['bid_volume_2'],
    row['bid_price_3'] * row['bid_volume_3'], row['ask_price_3'] * row['ask_volume_3'], row['ask_price_2'] * row['ask_volume_2'],
    row['ask_price_1'] * row['ask_volume_1'] ]) / sum([row['bid_volume_1'], row['bid_volume_2'], row['bid_volume_3'],
                                                    row['ask_volume_1'], row['ask_volume_2'], row['ask_volume_3']])
    except:
        return 0

df['avg_price'] = df.apply(find_average, axis=1)

In [4]:
df = df[df["product"] == "ROSES"]
df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,avg_price
0,2,0,ROSES,14421,30,14420.0,42.0,0.0,0.0,14422,72,0.0,0.0,0.0,0.0,14421.5,0.0000,14421.208333
11,2,100,ROSES,14423,57,0.0,0.0,0.0,0.0,14425,57,0.0,0.0,0.0,0.0,14424.0,0.0000,14424.000000
20,2,200,ROSES,14422,67,0.0,0.0,0.0,0.0,14423,67,0.0,0.0,0.0,0.0,14422.5,0.0000,14422.500000
21,2,300,ROSES,14421,64,0.0,0.0,0.0,0.0,14422,22,14423.0,42.0,0.0,0.0,14421.5,0.0000,14421.828125
28,2,400,ROSES,14421,68,0.0,0.0,0.0,0.0,14423,68,0.0,0.0,0.0,0.0,14422.0,0.0000,14422.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6969,2,99500,ROSES,14401,61,0.0,0.0,0.0,0.0,14403,61,0.0,0.0,0.0,0.0,14402.0,-27062.0000,14402.000000
6977,2,99600,ROSES,14402,66,0.0,0.0,0.0,0.0,14404,60,0.0,0.0,0.0,0.0,14403.0,-27176.5625,14402.952381
6980,2,99700,ROSES,14402,28,14401.0,47.0,0.0,0.0,14403,75,0.0,0.0,0.0,0.0,14402.5,-27138.8750,14402.186667
6987,2,99800,ROSES,14401,55,0.0,0.0,0.0,0.0,14403,55,0.0,0.0,0.0,0.0,14402.0,-27182.0000,14402.000000
6998,2,99900,ROSES,14405,64,0.0,0.0,0.0,0.0,14407,64,0.0,0.0,0.0,0.0,14406.0,-27459.2500,14406.000000

In [5]:
df['return'] = df['avg_price']\
                     .transform(lambda g: g / g.shift())
df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,avg_price,return
0,2,0,ROSES,14421,30,14420.0,42.0,0.0,0.0,14422,72,0.0,0.0,0.0,0.0,14421.5,0.0000,14421.208333,NaN
11,2,100,ROSES,14423,57,0.0,0.0,0.0,0.0,14425,57,0.0,0.0,0.0,0.0,14424.0,0.0000,14424.000000,1.000194
20,2,200,ROSES,14422,67,0.0,0.0,0.0,0.0,14423,67,0.0,0.0,0.0,0.0,14422.5,0.0000,14422.500000,0.999896
21,2,300,ROSES,14421,64,0.0,0.0,0.0,0.0,14422,22,14423.0,42.0,0.0,0.0,14421.5,0.0000,14421.828125,0.999953
28,2,400,ROSES,14421,68,0.0,0.0,0.0,0.0,14423,68,0.0,0.0,0.0,0.0,14422.0,0.0000,14422.000000,1.000012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6969,2,99500,ROSES,14401,61,0.0,0.0,0.0,0.0,14403,61,0.0,0.0,0.0,0.0,14402.0,-27062.0000,14402.000000,0.999872
6977,2,99600,ROSES,14402,66,0.0,0.0,0.0,0.0,14404,60,0.0,0.0,0.0,0.0,14403.0,-27176.5625,14402.952381,1.000066
6980,2,99700,ROSES,14402,28,14401.0,47.0,0.0,0.0,14403,75,0.0,0.0,0.0,0.0,14402.5,-27138.8750,14402.186667,0.999947
6987,2,99800,ROSES,14401,55,0.0,0.0,0.0,0.0,14403,55,0.0,0.0,0.0,0.0,14402.0,-27182.0000,14402.000000,0.999987
6998,2,99900,ROSES,14405,64,0.0,0.0,0.0,0.0,14407,64,0.0,0.0,0.0,0.0,14406.0,-27459.2500,14406.000000,1.000278

In [7]:
df['log_return'] = np.log(df['return'])
df['squared_log_return'] = df['log_return']**2

In [8]:
df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,...,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,avg_price,return,log_return,squared_log_return
0,2,0,ROSES,14421,30,14420.0,42.0,0.0,0.0,14422,...,0.0,0.0,0.0,0.0,14421.5,0.0000,14421.208333,NaN,NaN,NaN
11,2,100,ROSES,14423,57,0.0,0.0,0.0,0.0,14425,...,0.0,0.0,0.0,0.0,14424.0,0.0000,14424.000000,1.000194,0.000194,3.746621e-08
20,2,200,ROSES,14422,67,0.0,0.0,0.0,0.0,14423,...,0.0,0.0,0.0,0.0,14422.5,0.0000,14422.500000,0.999896,-0.000104,1.081574e-08
21,2,300,ROSES,14421,64,0.0,0.0,0.0,0.0,14422,...,14423.0,42.0,0.0,0.0,14421.5,0.0000,14421.828125,0.999953,-0.000047,2.170282e-09
28,2,400,ROSES,14421,68,0.0,0.0,0.0,0.0,14423,...,0.0,0.0,0.0,0.0,14422.0,0.0000,14422.000000,1.000012,0.000012,1.420298e-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6969,2,99500,ROSES,14401,61,0.0,0.0,0.0,0.0,14403,...,0.0,0.0,0.0,0.0,14402.0,-27062.0000,14402.000000,0.999872,-0.000128,1.641061e-08
6977,2,99600,ROSES,14402,66,0.0,0.0,0.0,0.0,14404,...,0.0,0.0,0.0,0.0,14403.0,-27176.5625,14402.952381,1.000066,0.000066,4.372674e-09
6980,2,99700,ROSES,14402,28,14401.0,47.0,0.0,0.0,14403,...,0.0,0.0,0.0,0.0,14402.5,-27138.8750,14402.186667,0.999947,-0.000053,2.826530e-09
6987,2,99800,ROSES,14401,55,0.0,0.0,0.0,0.0,14403,...,0.0,0.0,0.0,0.0,14402.0,-27182.0000,14402.000000,0.999987,-0.000013,1.679896e-10
6998,2,99900,ROSES,14405,64,0.0,0.0,0.0,0.0,14407,...,0.0,0.0,0.0,0.0,14406.0,-27459.2500,14406.000000,1.000278,0.000278,7.711765e-08

In [9]:
sum_squared_log_return = np.sqrt(df['avg_price'] - df['mid_price']

In [10]:
sum_squared_log_return

3.502390548993743e-05